@import "./variables";
@import "./navigation";
@import "./banner";
@import "./information";
@import "./mailing-list";
@import "./our-clients";
@import "./footer";

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    margin: 0;
    padding: 0;
}

body {
    font-family: "Muller", sans-serif;
    font-weight: 400;
    color: $white;
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    font-family: "Muller", sans-serif;
    font-size: 20px;
    margin: 0;
}

button {
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    cursor: pointer;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Muller", sans-serif;
    margin: 0;
    color: $white;
}

._container {
    width: 1400px;
    display: flex;
}
